# server configuration
PORT=portnumber #5000 for instance
HOST=hostname # localhost for example

# database configuration
PGUSER=dbusername
PGHOST=machinename # localhost is another example
PGPASSWORD=whatever
PGDATABASE=dbname
PGPORT=dbportnumber # default is 5432 (postgres)
